<ul class="nav nav-tabs" id="adchatTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="ad-intro-tab" data-toggle="tab" href="#ad-intro" role="tab" aria-controls="ad-intro" aria-selected="true">Introduction</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="ad-arch-tab" data-toggle="tab" href="#ad-arch" role="tab" aria-controls="ad-arch" aria-selected="false">Architecture</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="ad-tool-tab" data-toggle="tab" href="#ad-tools" role="tab" aria-controls="ad-tools" aria-selected="false">ToolChain</a>
    </li>
</ul>
<div class="tab-content" id="adchatTabContent">

    <div class="tab-pane fade show active" id="ad-intro" role="tabpanel" aria-labelledby="intro-tab">
        adChat is A system for targeting precise advertisement into instant messenger’s chatting context.
    </div>

    <div class="tab-pane fade" id="ad-arch" role="tabpanel" aria-labelledby="arch-tab">

        <h2>Architecture Overview</h2>
        <div class="box">
            <img src="media/img/proj/adChatArch.png" class="img-fluid" alt="adChat">
        </div>

    </div>

    <div class="tab-pane fade" id="ad-tools" role="tabpanel" aria-labelledby="tools-tab">
        Coming
    </div>

</div>