<ul class="nav nav-tabs" id="dmTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="dm-intro-tab" data-toggle="tab" href="#dm-intro" role="tab" aria-controls="dm-intro" aria-selected="true">DM Introduction</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="dm-arch-tab" data-toggle="tab" href="#dm-arch" role="tab" aria-controls="dm-arch" aria-selected="false">dm Architecture</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="dm-tools-tab" data-toggle="tab" href="#dm-tools" role="tab" aria-controls="contact" aria-selected="false">ToolChain</a>
    </li>
</ul>
<div class="tab-content" id="dmTabContent">
    <div class="tab-pane fade show active" id="dm-intro" role="tabpanel">
        dm Instroduction: mission, story ...
    </div>
    <div class="tab-pane fade" id="dm-arch" role="tabpanel">
        <h2>Architecture Overview</h2>
        <div class="box">
            <img src="media/img/proj/ddw.png" class="img-fluid" alt="ddw">
        </div>
    </div>
    <div class="tab-pane fade" id="dm-tools" role="tabpanel">
        dm tools
    </div>
</div>