<ul class="nav nav-tabs" id="iqTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="iq-intro-tab" data-toggle="tab" href="#iq-intro" role="tab" aria-selected="true">Introduction</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="iq-arch-tab" data-toggle="tab" href="#iq-arch" role="tab" aria-selected="false">iq Architecture</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="iq-tools-tab" data-toggle="tab" href="#iq-tools" role="tab" aria-selected="false">ToolChain</a>
    </li>
</ul>
<div class="tab-content" id="iqTabContent">
    <div class="tab-pane fade show active" id="iq-intro" role="tabpanel">
        iq Instroduction: mission, story ...
    </div>
    <div class="tab-pane fade" id="iq-arch" role="tabpanel">
        Coming
    </div>
    <div class="tab-pane fade" id="iq-tools" role="tabpanel">
        Coming
    </div>
</div>