<ul class="nav nav-tabs" id="mtTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="mt-intro-tab" data-toggle="tab" href="#mt-intro" role="tab" aria-selected="true">Introduction</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="mt-arch-tab" data-toggle="tab" href="#mt-arch" role="tab" aria-selected="false">Architecture</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="mt-tools-tab" data-toggle="tab" href="#mt-tools" role="tab" aria-selected="false">ToolChain</a>
    </li>
</ul>
<div class="tab-content" id="linkedBacTabContent">
    <div class="tab-pane fade show active" id="mt-intro" role="tabpanel" aria-labelledby="intro-tab">
        MedTrac has provided customers with extensive visibility to product information at hospitals worldwide. With this information, manufactures can work with their customers, the hospitals and distributors to improve customer service through optimising inventory
        performance and billing. Manufactures and distributors are now able to minimise operational delays, and back-end processes such as billing, recall and inventory transfers can now be handled with 100% accuracy.
    </div>
    <div class="tab-pane fade" id="mt-arch" role="tabpanel" aria-labelledby="profile-tab">
        mt Architecture
    </div>
    <div class="tab-pane fade" id="mt-tools" role="tabpanel" aria-labelledby="contact-tab">
        This product adopted PHP as the presentation layer, Windows CE mobile devices as the smart data collection equipment. QlikView as BI tool. It also employed Web service technologies, RFID technologies, Tomcat, Apache, sync4j, Ajax, XSL-FO/XSLT and more.
        MedTtrac system includes includes ETL middleware, mobile smart device solution, synchronization platform, front-end web user interface, BI module, etc.
    </div>
</div>