<ul class="nav nav-tabs" id="saTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="sa-intro-tab" data-toggle="tab" href="#sa-intro" role="tab" aria-selected="true">Introduction</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="sa-arch-tab" data-toggle="tab" href="#sa-arch" role="tab" aria-selected="false">Architecture</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="sa-tools-tab" data-toggle="tab" href="#sa-tools" role="tab" aria-selected="false">ToolChain</a>
    </li>
</ul>
<div class="tab-content" id="saTabContent">
    <div class="tab-pane fade show active" id="sa-intro" role="tabpanel">
        sa Instroduction: mission, story ...
    </div>
    <div class="tab-pane fade" id="sa-arch" role="tabpanel">
        Coming
    </div>
    <div class="tab-pane fade" id="sa-tools" role="tabpanel">
        Coming
    </div>
</div>