<ul class="nav nav-tabs" id="swapTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="swap-intro-tab" data-toggle="tab" href="#swap-intro" role="tab" aria-selected="true">Introduction</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="swap-arch-tab" data-toggle="tab" href="#swap-arch" role="tab" aria-selected="false">Architecture</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="swap-tools-tab" data-toggle="tab" href="#swap-tools" role="tab" aria-selected="false">ToolChain</a>
    </li>
</ul>
<div class="tab-content" id="swapTabContent">
    <div class="tab-pane fade show active" id="swap-intro" role="tabpanel">
        The goal of SwapX is to bring Android users to Nokia X Users can find their apps, or their equivalents, save them into a Microsoft Account and easily download them to X.

    </div>
    <div class="tab-pane fade" id="swap-arch" role="tabpanel">
        <h2>Architecture Overview</h2>
        <div class="box">
            <img src="media/img/proj/swapX02.png" class="img-fluid" alt="SwapX">
        </div>
    </div>
    <div class="tab-pane fade" id="swap-tools" role="tabpanel">
        Azure HD Insight (Hadoop stack), Mhout (Machine learning platform on Hadoop), Collaborative filtering , Windows Phone SDK, Android, Java
    </div>
</div>