<ul class="nav nav-tabs" id="tcTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="tc-intro-tab" data-toggle="tab" href="#tc-intro" role="tab" aria-selected="true">Introduction</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="tc-arch-tab" data-toggle="tab" href="#tc-arch" role="tab" aria-selected="false">Architecture</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="tc-tools-tab" data-toggle="tab" href="#tc-tools" role="tab" aria-selected="false">ToolChain</a>
    </li>
</ul>
<div class="tab-content" id="tcTabContent">
    <div class="tab-pane fade show active" id="tc-intro" role="tabpanel">
        TV coupon, TV ringtone, OSD, EPG
    </div>
    <div class="tab-pane fade" id="tc-arch" role="tabpanel">
        tc Architecture
    </div>
    <div class="tab-pane fade" id="tc-tools" role="tabpanel">
        TCP/IP network and DVB Broadcasting network, interactive TV applications powered by JAVA, VC++, and MediaHighway. The technical platforms included STBroadcaster, MHP, Canal+, OpenTV, Flash, Tomcat, ST20 etc.
    </div>
</div>