<div class="container d-flex text-muted">    
    <div class="row mx-auto my-auto equal">
        <!-- <div class="col-lg-12 d-flex align-items-stretch">
            <h1 class="display-4">Curious & Concentrate <small></small></h1>
        </div> -->
        <div id="homeCarousel" class="carousel slide w-100" data-ride="carousel">
            <div class="carousel-inner w-100" role="listbox">

                <div class="carousel-item active">
                    <div class="col-lg-4 col-md-6">
                        <div class="card mb-2">
                            <img class="card-img-top img-fluid"
                                src="media/img/Agile-Methodology_01.jpg"
                                alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Project Management</h4>
                                <p class="card-text">
                                    It is key capability to being able to plan high level big project into smaller pieces of archivable tasks.
                                </p>
                                <!-- <a class="btn btn-primary">Button</a> -->
                            </div>
                        </div>
                    </div>

                </div>

                <div class="carousel-item">
                    <div class="col-lg-4 col-md-6">
                        <div class="card mb-2">
                            <img class="card-img-top img-fluid"
                                src="media/img/AI_01.jpg"
                                alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">AI</h4>
                                <p class="card-text">
                                    Industry evolution -- musle 
                                    AI -- Brain musle
                                </p>
                                <!-- <a class="btn btn-primary">Button</a> -->
                            </div>
                        </div>
                    </div>

                </div>

                <div class="carousel-item">
                    <div class="col-lg-4 col-md-6">
                        <div class="card mb-2">
                            <img class="card-img-top img-fluid"
                                src="media/img/CNN_01.png"
                                alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">CNN Neural Network</h4>
                                <p class="card-text">Some quick example text to build on the card title and make
                                    up the
                                    bulk of the
                                    card's content.</p>
                                <!-- <a class="btn btn-primary">Button</a> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="col-lg-4 col-md-6">
                        <div class="card mb-2">
                            <img class="card-img-top img-fluid"
                                src="media/img/BERT_01.png"
                                alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">BERT </h4>
                                <p class="card-text">Some quick example text to build on the card title and make
                                    up the
                                    bulk of the
                                    card's content.</p>
                                <!-- <a class="btn btn-primary">Button</a> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="col-lg-4 col-md-6">
                        <div class="card mb-2">
                            <img class="card-img-top img-fluid"
                                src="media/img/BI_01.jpg"
                                alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Business Intelligence</h4>
                                <p class="card-text">Some quick example text to build on the card title and make
                                    up the
                                    bulk of the
                                    card's content.</p>
                                <!-- <a class="btn btn-primary">Button</a> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="col-lg-4 col-md-6">
                        <div class="card mb-2">
                            <img class="card-img-top img-fluid"
                                src="media/img/BigData_01.jpg"
                                alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Big Data</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up
                                    the bulk
                                    of the
                                    card's content.</p>
                                <!-- <a class="btn btn-primary">Button</a> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="col-lg-4 col-md-6">
                        <div class="card mb-2">
                            <img class="card-img-top img-fluid"
                                src="media/img/nosql_01.png"
                                alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">SQL vs NoSQL</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up
                                    the bulk
                                    of the
                                    card's content.</p>
                                <!-- <a class="btn btn-primary">Button</a> -->
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="carousel-item">
                    <div class="col-lg-4 col-md-6">
                        <div class="card mb-2">
                            <img class="card-img-top img-fluid"
                                src="media/img/CloudComputing_01.png"
                                alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Cloud Computing</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of
                                    the
                                    card's content.</p>
                                <!-- <a class="btn btn-primary">Button</a> -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            
            <a class="carousel-control-prev bg-dark w-auto" href="#homeCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next bg-dark w-auto" href="#homeCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>



    </div>

</div>